.bodyHome {
    background-color: #f39c12;
}

.home {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.logoIcon {
  width: 32px;
  height: 32px;
}

.main {
    margin: 50px;
}

.section {
    margin-bottom: 40px;
}

.footer {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

/* Home.module.css */
.home {
  padding: 20px;
}

.mainHome {
  padding: 20px;
  
}

.tituloSecao {
  margin-top: 30px;
  font-size: 24px;
  color: #333;
}

.listaProdutos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cardProduto {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 220px;
  padding: 10px;
  background-color: #f9f9f9;
}

.imagemProduto {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.listaProdutos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}