.login {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0,1px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  transition: all 0.3s ease-in-out;
}
.bodyHome {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://honeywellaircomfort.com/cdn/shop/articles/gaming_system_cooling_1024x1024.jpg?v=1741681188");
  background-size: cover;
  background-position: center;
}
.login h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.input {
  font-size: 16px;
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.button {
  flex: 1;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.success {
  color: green;
  margin-top: 15px;
}

.error {
  color: red;
  margin-top: 15px;
}
.errorMessage {
  color: red;
  margin-top: 15px;
}
.label {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
/* 
Falta ajudatar o css do link para ficar no center 
*/
link{
  color: #007bff;
  text-decoration: none;
  align-items: center;
}

/* Checklist */

.checklist {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.checklist li {
  display: flex;
  align-items: center; 
  margin: 5px; 
  position: relative;
  padding-left: 25px;
}
.checklist li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #127900; /* Cor da bola (pode ser qualquer cor) */
}

.checklist li.invalid::before {
  background-color: #000000; /* Cor para inválido */
}
.valid {
  color: #127900;
}

.invalid {
  color: #000000;
}