.bodyHome {
    background-color: #1A1A1D;
}

.bodyHomePublic {
    background-color: #1A1A1D;
}

.container{
    font-family: Arial, sans-serif;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-left: 100px;
}

.mainPublic {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinhado à esquerda */
    gap: 20px;
    padding: 20px;
    margin-left: 100px;
    margin-top: 60px;
}

.produtosPublic {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.produtosPublic > div {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(25% - 20px); /* 25% para 4 por linha, menos o gap */
    transition: transform 0.3s;
    box-sizing: border-box;
}

.produtosPublic > div:hover {
    transform: translateY(-5px);
}

.produtosPublic h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    width: 100%; /* Título ocupa toda a linha */
}

.produtosPublic h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.produtosPublic button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produtosPublic button:hover {
    background-color: #0056b3;
}
