.container {
  background-color: rgba(255, 255, 255, 0.199);
  backdrop-filter: blur(0,1px);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 30px;
  max-width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bodysHome {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("https://honeywellaircomfort.com/cdn/shop/articles/gaming_system_cooling_1024x1024.jpg?v=1741681188");
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #fbfbfb;
}



.button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.message {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.errorText {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.successText {
  color: green;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}